@charset "UFT-8;"

{/*height: 100%;*/

}
p{ text-align:justify}
body {background-image: linear-gradient(to right, #DE6240, #556189);}

main{background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(143, 37, 37, 0.589);
width: 600px;
padding:10px;
margin: auto;}

h1{color: #96DE40;
text-align: center;
text-shadow: 1px 1px 0px #96DE40;}
h2 {color: #555E4B;}